<ngx-spinner name="main-spiner" bdColor="rgba(51,51,51,0.8)" [fullScreen]="true" size="medium" color="#ff9933  " type="ball-pulse">
    <p style="font-size: 20px; color: rgb(194, 155, 155)">{{loadingText}}</p>
</ngx-spinner>

<div class="col-12 grid-margin stretch-card custom-bax">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title text-center border-buttom">Employee List</h4>
        </div>

        <div class="container">
            <section class="filterSection">
                <form [formGroup]="searchForm">
                    <div class="dropDownF">
                        <ul>
                            <li>
                                <label>Employee Name</label>
                                <input formControlName="name" type="text" class="form-control" />
                            </li>

                            <li>
                                <label>Mobile No.</label>
                                <input formControlName="mobileNo" type="text" class="form-control" pKeyFilter="int" />
                            </li>

                            <li>
                                <label>Member Type</label>
                                <p-dropdown formControlName="roleId" styleClass="form-control form-control-sm" [options]="roleList" optionLabel="name" placeholder="Select" [style]="{'width':'100%'}"></p-dropdown>
                            </li>

                            <li>
                                <label>Records Per Page</label>
                                <select formControlName="totalRecord" class="form-control chosen-single">
                                  <option value="10">10</option>
                                  <option value="20">20</option>
                              </select>
                            </li>

                            <li class="alignTop">
                                <a href="javascript:void(0)" class="btn btn-primary btn-find" title="Click To Filter" (click)="search()">
                                    <i class="pi pi-search" style="font-size:0.8rem"></i> Search
                                </a>
                            </li>
                            <li class="alignTop">
                                <a href="javascript:void(0)" class="btn btn-primary btn-find" title="Click To Filter" (click)="resetSearch()">
                                    <i class="pi pi-refresh" style="font-size:0.8rem"></i> Reset
                                </a>
                            </li>
                        </ul>
                    </div>
                </form>
            </section>

            <div class="row">
                <div class="col-sm-12 TotalRecords">Total Records - {{totalRecord}}</div>
            </div>

            <p-table #dt class="table" [value]="list" [paginator]="false" [style]="{width:'100%'}">

                <ng-template pTemplate="header">
                    <tr class="WapperTable">
                        <th>S.No</th>
                        <th>User Name</th>
                        <th>Full Name</th>
                        <th>Mobile No</th>
                        <th>E-Mail</th>
                        <th>Member Type</th>
                        <th>Status</th>
                        <th>View</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-list let-columns let-rowIndex="rowIndex">
                    <tr class="WapperTable-Data">
                        <td>{{paginationIndex+rowIndex}}</td>
                        <td>{{list.userName}}</td>
                        <td>{{list.name}}</td>
                        <td>{{list.mobile}}</td>
                        <td>{{list.email}}</td>
                        <td>{{list.roleId.roleName}}</td>
                        <td>
                            <div style="font-size: 15px;" class="badge-no-border badge {{list.status == 1 ? 'badge-outline-success' : 'badge-outline-danger'}}   badge-pill">
                              {{list.status == 1 ? 'Active' : 'In Active'}}
                            </div>
                        </td>
                        <td><a href="javascript:void(0);" (click)="editData(rowData)"><i class="pi pi-eye ViewIcon"></i></a></td>
                    </tr>
                </ng-template>
            </p-table>

            <mat-paginator #paginator [length]="totalRecord" [pageSize]="searchForm.value.totalRecord" (page)="onChangePage($event)">
            </mat-paginator>

        </div>
    </div>
</div>
