.auth .brand-logo {
    margin-bottom: 1rem;
    text-align: center;
}

.font-weight-light {
    font-family: "ubuntu-light", sans-serif;
    text-align: center;
}

.login-btn-width{
    width: 100%;
}

.mylogin {
    margin-top: -9px;
    background-image: url('/assets/images/login-background.jpg');
    height: 100vh;
}

.auth .auth-form-light {
    background: #ffffff;
    box-shadow: 0 0 5px 5px #8a8985;
}