<ngx-spinner name="main-spiner" bdColor="rgba(51,51,51,0.8)" [fullScreen]="true" size="medium" color="#ff9933  " type="ball-pulse">
    <p style="font-size: 20px; color: rgb(194, 155, 155)">{{loadingText}}</p>
</ngx-spinner>

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title text-center border-buttom">Change Password</h4>
            <form [formGroup]="creationForm">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="label">Old Password</label>
                            <input type="text" class="form-control" formControlName="oldPassword" />
                            <mat-error *ngIf="creationForm.controls['oldPassword'].invalid && (creationForm.controls['oldPassword'].dirty || creationForm.controls['oldPassword'].touched)">
                                Old password required
                            </mat-error>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="label">New Password</label>
                            <input type="text" class="form-control" formControlName="newPassword" />
                            <mat-error *ngIf="creationForm.controls['newPassword'].invalid && (creationForm.controls['newPassword'].dirty || creationForm.controls['newPassword'].touched)">
                                New password required
                            </mat-error>
                        </div>
                    </div>

                </div>
            </form>

            <div class="text-center">
                <button type="button" (click)="changePassword()" class="btn btn-gradient-info btn-rounded btn-fw">Change Password</button>
            </div>
        </div>
    </div>
</div>
