<ngx-spinner name="main-spiner" bdColor="rgba(51,51,51,0.8)" [fullScreen]="true" size="medium" color="#ff9933  " type="ball-pulse">
    <p style="font-size: 20px; color: rgb(194, 155, 155)">{{loadingText}}</p>
</ngx-spinner>
<p-confirmDialog  [baseZIndex]="10000"></p-confirmDialog>

<div class="col-12 grid-margin stretch-card custom-bax">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title text-center border-buttom">Transfer Out To FFMC List
            </h4>
        </div>

        <div class="containers">
            <section class="filterSection">
                <form [formGroup]="searchForm">
                    <div class="dropDownF">
                        <ul>
                            <li>
                                <label>Transaction No.</label>
                                <input formControlName="transactionNo" type="text" class="form-control" />
                            </li>

                            <li>
                                <label>Records Per Page</label>
                                <select formControlName="totalRecord" class="form-control chosen-single">
                                  <option value="10">10</option>
                                  <option value="20">20</option>
                              </select>
                            </li>

                            <li class="alignTop">
                                <a href="javascript:void(0)" class="btn btn-primary btn-find" title="Click To Filter" (click)="search()">
                                    <i class="pi pi-search" style="font-size:0.8rem"></i> Search
                                </a>
                            </li>
                            <li class="alignTop">
                                <a href="javascript:void(0)" class="btn btn-primary btn-find" title="Click To Filter" (click)="resetSearch()">
                                    <i class="pi pi-refresh" style="font-size:0.8rem"></i> Reset
                                </a>
                            </li>
                        </ul>
                    </div>
                </form>
            </section>

            <div class="row">
                <div class="col-sm-12 TotalRecords">Total Records - {{totalRecord}}</div>
            </div>

            <p-table #dt class="table" [value]="list" [paginator]="false" [style]="{width:'100%'}">

                <ng-template pTemplate="header">
                    <tr class="WapperTable"> 
                        <th>S.No</th>
                        <th>Invoice No</th>
                        <th >Customer Currency Name</th>
                        <th >Customer Currency Amount</th>
                        <th >Currency Rate</th>
                        <th >Rs. Amount </th>
                        <th >Payment Mode </th>
                        <th >Payment Type </th>
                        <th >Transaction Type </th>
                        <th >Transaction Id </th>
                        <th >Bank Name </th>
                        <th >Bank Branch </th>
                        <th style="width:105px">Date </th>
                        <th style="width:70px">Action</th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-rowData let-list let-columns let-rowIndex="rowIndex" let-expanded="expanded">
                    <tr class="WapperTable-Data">
                        <td>{{paginationIndex+rowIndex}}</td>
                        <td>{{list.invoiceNo}}</td>
                        <td>
                            {{list.currency.code}} - 
                            {{list.currency.country}}
                        </td>
                        <td>{{list.currencyAmount}}</td>
                        <td>{{list.sellCurrencyRate}}</td>
                        <td>{{list.sellInrAmount}}</td>
                        <td>{{list.paymentMode.paymentModeName}}</td>
                        <td>{{list.paymentType.paymentTypeName}}</td>
                        <td>{{list.transactionType.tranTypeName}}</td>
                        <td>{{list.transactionNo}}</td>
                        <td>{{list.bankName}}</td>
                        <td>{{list.branchName}}</td>
                        <td>{{list.createdAt | date: 'dd-MM-yyyy'}}</td>

                        <td >
                            <a *ngIf="authService.checkPermission('transferToffmcListP')" href="javascript:void(0);" (click)="printPdf(rowData)">
                                <i class="pi pi-print ViewIcon"></i>
                            </a>

                            <a *ngIf="!authService.checkPermission('transferToffmcListP')" title="Not allowded">
                                <i class="pi pi-print ViewIcon not-allowed"></i>
                            </a>
                        </td>
                    </tr>
                </ng-template>
            </p-table>

            <mat-paginator #paginator [length]="totalRecord" [pageSize]="searchForm.value.totalRecord" (page)="onChangePage($event)">
            </mat-paginator>

        </div>
    </div>
</div>
