<ngx-spinner name="main-spiner" bdColor="rgba(51,51,51,0.8)" [fullScreen]="true" size="medium" color="#ff9933  "
  type="ball-pulse">
  <p style="font-size: 20px; color: rgb(194, 155, 155)">{{loadingText}}</p>
</ngx-spinner>

<div class="col-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title text-center border-buttom">User Modification</h4>
      <form [formGroup]="creationForm">
        <p-tabView styleClass="tabview-custom" [activeIndex]="activeIndex">

          <p-tabPanel>
            <ng-template pTemplate="header">
              <span>Employee</span>
            </ng-template>

            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label>Full Name</label>
                  <input formControlName="name" type="text" class="form-control form-control-lg">

                  <mat-error
                    *ngIf="creationForm.controls['name'].invalid && (creationForm.controls['name'].dirty || creationForm.controls['name'].touched)">
                    Full name required
                  </mat-error>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group">
                  <label class="label">Mobile No</label>
                  <input formControlName="mobileNo" type="text" class="form-control form-control-lg" pKeyFilter="int"
                    maxlength="10">

                  <mat-error
                    *ngIf="creationForm.controls['mobileNo'].invalid && (creationForm.controls['mobileNo'].dirty || creationForm.controls['mobileNo'].touched)">
                    Mobile no required
                  </mat-error>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group">
                  <label class="label">E-Mail</label>
                  <input formControlName="email" type="text" class="form-control form-control-lg">

                  <mat-error
                    *ngIf="creationForm.controls['email'].invalid && (creationForm.controls['email'].dirty || creationForm.controls['email'].touched)">
                    Email required
                  </mat-error>
                </div>
              </div>
              
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="label">Firm Name</label>
                  <input formControlName="firmName" type="text" class="form-control form-control-lg">

                  <mat-error
                    *ngIf="creationForm.controls['firmName'].invalid && (creationForm.controls['firmName'].dirty || creationForm.controls['firmName'].touched)">
                    Firm name required
                  </mat-error>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group">
                  <label class="label">GST number</label>
                  <input formControlName="gstNumber" type="text" class="form-control form-control-lg">

                  <mat-error
                    *ngIf="creationForm.controls['gstNumber'].invalid && (creationForm.controls['gstNumber'].dirty || creationForm.controls['gstNumber'].touched)">
                    GST number required
                  </mat-error>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group">
                  <label class="label">Member Type</label>
                  <p-dropdown formControlName="roleId" styleClass="form-control form-control-sm" [options]="roleList"
                    optionLabel="name" placeholder="Select" [style]="{'width':'100%'}"></p-dropdown>

                  <mat-error
                    *ngIf="creationForm.controls['roleId'].invalid && (creationForm.controls['roleId'].dirty || creationForm.controls['roleId'].touched)">
                    Member type required
                  </mat-error>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group">
                  <label class="label">Permission</label>
                  <p-dropdown formControlName="permission" styleClass="form-control form-control-sm"
                    [options]="permissionList" optionLabel="roleName" placeholder="Select" [style]="{'width':'100%'}"
                    [filter]="true"></p-dropdown>

                  <mat-error
                    *ngIf="creationForm.controls['permission'].invalid && (creationForm.controls['permission'].dirty || creationForm.controls['permission'].touched)">
                    Permission required
                  </mat-error>
                </div>
              </div>

              <div class="col-sm-6" *ngIf="userData.roleId==1 || userData.roleId==2" >
                <div class="form-group">
                  <label class="label">Parent</label>
                  <p-dropdown formControlName="createdBy" styleClass="form-control form-control-sm" [options]="parentList" optionLabel="name" placeholder="Select" [style]="{'width':'100%'}" [filter]="true" ></p-dropdown>

                  <mat-error
                    *ngIf="creationForm.controls['createdBy'].invalid && (creationForm.controls['createdBy'].dirty || creationForm.controls['createdBy'].touched)">
                    Parent required
                  </mat-error>
                </div>
              </div>

              
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="label">Status</label>
                  <p-dropdown formControlName="status" styleClass="form-control form-control-sm" [options]="statusList"
                    optionLabel="name" placeholder="Select" [style]="{'width':'100%'}"></p-dropdown>

                  <mat-error
                    *ngIf="creationForm.controls['status'].invalid && (creationForm.controls['status'].dirty || creationForm.controls['status'].touched)">
                    Status required
                  </mat-error>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group">
                  <label class="label">User Photos</label>
                  <p-fileUpload #photos accept="image/*" maxFileSize="1000000" [showCancelButton]=false
                    [showUploadButton]=false (onSelect)="onPhotoSelect($event,'userPhoto')"></p-fileUpload>
                </div>
                <a href="javascript:void(0)" (click)="viewUserPhotos = true" style="float: left;
                margin-top: -21px;">{{creationForm.value.userPhoto}}</a>
                <p-dialog header="User View" [(visible)]="viewUserPhotos" [style]="{ width: '50%', height:'400px'}" [baseZIndex]="10000">
                  <p style="text-align: center;"><img src="{{docUrl}}{{creationForm.value.userPhoto}}" height="350" width="600"></p>
                </p-dialog>

              </div>
            </div>
          </p-tabPanel>

          <p-tabPanel>
            <ng-template pTemplate="header">
              <span>Address</span>
            </ng-template>

            <div [formGroup]="address" *ngFor="let address of addT.controls; let i = index" class="row address-block">


              <div class="col-sm-6">
                <div class="form-group">
                  <label class="label">Address Type</label>
                  <p-dropdown formControlName="addressType" styleClass="form-control form-control-sm"
                    [options]="addressTypeList" optionLabel="name" placeholder="Select" [style]="{'width':'100%'}">
                  </p-dropdown>

                  <mat-error
                    *ngIf="address.controls['addressType'].invalid && (address.controls['addressType'].dirty || address.controls['addressType'].touched)">
                    Address type required
                  </mat-error>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group">
                  <label class="label">Country</label>
                  <p-dropdown formControlName="country" styleClass="form-control form-control-sm"
                    [options]="countryList" optionLabel="name" placeholder="Select" [filter]="true"
                    [style]="{'width':'100%'}" (onChange)="getAllStateList($event,i)"></p-dropdown>

                  <mat-error
                    *ngIf="address.controls['country'].invalid && (address.controls['country'].dirty || address.controls['country'].touched)">
                    Country required
                  </mat-error>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group">
                  <label class="label">State</label>
                  <p-dropdown formControlName="state" styleClass="form-control form-control-sm" [options]="stateList[i]"
                    optionLabel="name" placeholder="Select" [filter]="true" [style]="{'width':'100%'}"
                    (onChange)="getAllCityList($event,i)"></p-dropdown>

                  <mat-error
                    *ngIf="address.controls['state'].invalid && (address.controls['state'].dirty || address.controls['state'].touched)">
                    State required
                  </mat-error>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group">
                  <label class="label">City</label>
                  <p-dropdown formControlName="city" styleClass="form-control form-control-sm" [options]="cityList[i]"
                    optionLabel="name" placeholder="Select" [filter]="true" [style]="{'width':'100%'}"></p-dropdown>

                    <a class="add-city" href="javascript:void(0)" (click)="addNewCity(i)" *ngIf="address.value.state.id" >Add City</a>

                  <mat-error
                    *ngIf="address.controls['city'].invalid && (address.controls['city'].dirty || address.controls['city'].touched)">
                    City required
                  </mat-error>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group">
                  <label>Pin code</label>
                  <input formControlName="pinCode" type="text" class="form-control form-control-lg" pKeyFilter="int"
                    maxlength="6">

                  <mat-error
                    *ngIf="address.controls['pinCode'].invalid && (address.controls['pinCode'].dirty || address.controls['pinCode'].touched)">
                    PinCode required
                  </mat-error>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group">
                  <label>Address</label>
                  <textarea formControlName="address" type="text" class="form-control" style="height: 40px;"></textarea>

                  <mat-error
                    *ngIf="address.controls['address'].invalid && (address.controls['address'].dirty || address.controls['address'].touched)">
                    Address required
                  </mat-error>
                </div>

                <!-- <a href="javascript:void(0);" (click)="removeAddressRow(i)" style="float: right;
                margin-top: -21px;">Remove</a> -->
              </div>
            </div>
            <div class="row form-group"><a href="javascript:void(0);" (click)="addAddressRow(0)">Add More</a></div>

          </p-tabPanel>

          <p-tabPanel>
            <ng-template pTemplate="header">
              <span>Documents</span>
            </ng-template>

            <div [formGroup]="userDoc" class="row address-block" *ngFor="let userDoc of docT.controls; let i = index">

              <div class="col-sm-6">
                <div class="form-group">
                  <label>Document Type</label>
                  <p-dropdown formControlName="docType" styleClass="form-control form-control-sm"
                    [options]="docTypeList" optionLabel="name" placeholder="Select" [style]="{'width':'100%'}">
                  </p-dropdown>

                  <mat-error
                    *ngIf="userDoc.controls['docType'].invalid && (userDoc.controls['docType'].dirty || userDoc.controls['docType'].touched)">
                    Doc type required
                  </mat-error>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group">
                  <label>Document No</label>
                  <input formControlName="docNumber" type="text" class="form-control form-control-lg">

                  <mat-error
                    *ngIf="userDoc.controls['docNumber'].invalid && (userDoc.controls['docNumber'].dirty || userDoc.controls['docNumber'].touched)">
                    Doc number required
                  </mat-error>
                </div>
              </div>

              <div class="col-sm-12">
                <div class="form-group">
                  <label>Choose</label>
                  <p-fileUpload #photos accept="image/*" maxFileSize="1000000" [showCancelButton]=false
                    [showUploadButton]=false (onSelect)="onDocumentSelect($event,i)"></p-fileUpload>
                  <mat-error
                    *ngIf="userDoc.controls['fileName'].invalid && (userDoc.controls['fileName'].dirty || userDoc.controls['fileName'].touched)">
                    Please choose file
                  </mat-error>
                </div>
                <a href="javascript:void(0)" (click)="displayDoc[i] = true" style="float: left;
                margin-top: -21px;">{{userDoc.value.fileName}}</a>


                <a href="javascript:void(0);" (click)="removeDocRow(i,userDoc.value)" style="float: right;
                margin-top: -21px;">Remove</a>
              </div>

              <div class="col-sm-6">
                <div class="form-group">
                  <p-dialog header="Document View" [(visible)]="displayDoc[i]" [style]="{width: '50%', height:'400px'}" [baseZIndex]="10000">
                    <p style="text-align: center;"><img src="{{docUrl}}{{userDoc.value.fileName}}" height="350" width="600"></p>
                    <ng-template pTemplate="footer">

                      <!-- Current Status  -->
                      <div class="badges" style="float: left;margin: 6px;">
                        <span>Current Status</span>&nbsp;
                        <span *ngIf="userDoc.value.status==0" class="p-tag p-tag-warning">Pending</span>
                        <span *ngIf="userDoc.value.status==1" class="p-tag p-tag-success">Approved</span>
                        <span *ngIf="userDoc.value.status==2" class="p-tag p-tag-danger">Rejected</span>
                     </div>

                      <!-- Action Button -->
                      <p-button *ngIf="userDoc.value.status==0 || userDoc.value.status==1" icon="pi pi-times" (click)="updateDocStatus(userDoc.value,i,2)" label="Reject" styleClass="p-button-danger p-button-sm"></p-button>

                      <p-button *ngIf="userDoc.value.status==0 || userDoc.value.status==2" icon="pi pi-check" (click)="updateDocStatus(userDoc.value,i,1)" label="Approve" styleClass="p-button-success p-button-sm"></p-button>
                    </ng-template>
                  </p-dialog>
                </div>
              </div>

            </div>

            <div class="row form-group"><a href="javascript:void(0);" (click)="addDocRow(0)">Add More</a></div>
          </p-tabPanel>

        </p-tabView>
      </form>
      <div class="text-center">
        <button type="button" (click)="updateEmployee()" class="btn btn-gradient-info btn-rounded btn-fw">Update</button>
      </div>
    </div>
  </div>
</div>
