.WapperTable th {
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    padding: 14px 4px;
    color: #fff;
    background-color: #5792ce;
    vertical-align: middle;
    border: 1px solid #ccc;
}

.WapperTable th:first-child {
    background: #5792ce;
    color: #fff;
    width: 46px;
    ;
}

.WapperTable th:last-child {
    width: 50px;
    ;
}

.WapperTable-Data td {
    font-size: 13px;
    color: #444;
    font-weight: 500;
    text-transform: none;
    border: 1px solid #ccc;
    text-align: center !important;
}

.WapperTable-Data td:first-child {
    background: #5792ce;
    color: #fff;
    width: 46px;
    ;
}

.WapperTable-Data td:last-child {
    width: 50px;
    ;
}

.TotalRecords {
    font-size: 11px;
    text-align: right;
}

.ViewIcon {
    color: #5792ce;
}

.address-block{
  border: 1px solid #ddd;
  padding: 5px;
  margin-top: 8px;
  padding-top: 17px;
}

::ng-deep button.p-button.p-component.p-button-icon-only {
  display: none;
}
