::ng-deep .date-picker.p-calendar {
    width: 100%;
  }
  
  .heading {
    background: #ddd;
    padding: 4px;
    margin-bottom: 6px;
    font-size: 14px;
    font-weight: bold;
   }
  
   .address-block{
    border: 1px solid #ddd;
    padding: 5px;
    margin-bottom: 5px;
   }
  